* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

.carousel {
    width: 920px;
    margin: 60px auto 0;
    border: 1px solid red;
    overflow: hidden;
    box-sizing: content-box;
}
.slides {
    display: flex;
    transition: all .5s;
}
.btns > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.btns > ul > li {
    display: flex;
    justify-content: center;
    width: 60px;
}